@import "tailwindcss";

/* Menghapus ikon mata bawaan Microsoft Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Menghapus ikon mata bawaan browser berbasis Webkit (jika ada) */
input::-webkit-contacts-auto-fill-button, 
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}